conform
    font-weight: bold
    color: navy
    font-variant: small-caps

proposed
    font-weight: bold
    color: purple
    font-variant: small-caps

deprecated
    font-weight: bold
    color: maroon
    font-variant: small-caps

// Override

.cls-1
//  fill $accentColor
  fill #002e5e

.action-button
  min-width 250px

.sidebar
  width 22rem

.theme-default-content pre, .theme-default-content pre[class*=language-]
  overflow-y hidden
